@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=B612+Mono&display=swap");
body {
    font-family: "Libre Baskerville", serif;
    margin: 0 auto;
    width: 800px;
}

h1,
h2,
h3,
h4,
h5,
h6,
code,
pre {
    font-family: "B612 Mono", monospace !important;
}

h1 {
    letter-spacing: 1px;
    text-transform: uppercase;
}

footer {
    font-size: 80%;
}

.date-meta {
    font-size: 70%;
    font-style: italic;
    color: #333;
}

.blog-list {
    font-family: "B612 Mono", monospace;
}

.blog-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.blog-list li {
    margin-bottom: 1.5rem;
}

.blog-list a {
    display: flex;
    flex-direction: column-reverse;
    text-decoration: none;
}

.blog-list h3 {
    margin: 0;
    padding: 0;
}

.blog-list span {
    font-size: 75%;
}

.pagination {
    display: flex;
}
.pagination svg {
    width: 16px;
    height: 16px;
}
.pagination a {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    font-size: 80%;
    text-decoration: none;
}
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 820px) {
    body {
        margin: 0 2rem;
        width: auto;
    }
}
